@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

* {
  scroll-behavior: smooth; // scroll
}

body {
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  line-height: 1;
  color: $color-txt;
  max-width: 1920px;
  margin: 0 auto;
}
.wrapper {
  max-width: 1750px;
  margin: 0 auto;
}

.container {
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 15px;
}
.triangle {
  content: "";
  position: absolute;
  border-color: #ffffff transparent transparent transparent;
  left: 37%;
  border-style: solid;
  border-top-width: 80px;
  border-right-width: 255px;
  border-left-width: 255px;
}
@include tablet {
  .triangle {
    border-top-width: 37px;
    border-right-width: 80px;
    border-left-width: 88px;
  }
}

@include mobile {
  .triangle {
    display: none;
  }
}
