$color-txt: #000000;
$color-white: #ffffff;
$background-yellow: #d9bf8f;
$background-btn-slider: #f09d66;
$background-gray: #b2b2b2;
$background-header: #f2f2f2;

$mobile-width: 600px;
$tablet-width: 1024px;
